<% layout('layouts/boilerplate') %>

    <h2>运用【玄天观气法】获取新的秘境地点</h2>
    <form action="/sendNewMLand" method="POST">
        <button>注入法力</button>
    </form>

    <br>

    <h2>运用【大五行手】创建天地秘境</h2>
    <form action="/sendNewMLand" method="POST">
        <label for="name">秘境名称</label>
        <input type="text" id="name" name="name" placeholder="无名秘境">

        <label for="price">所需等级</label>
        <input type="number" id="price" name="price" placeholder="0" min="0" step="1">

        <label for="description">预探信息</label>
        <input type="text" id="description" name="description" placeholder="此境恐怖如斯，不可久留！">

        <label for="location">地点</label>
        <input type="text" id="location" name="location" placeholder="黄泉之下？九天之上？">



        <button>记录于芒高秘卷</button>
    </form>


    <a href="/home">回到秘境榜</a>